@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root {
    --white: #fafafa;
    --primary: #FFF2DB;
    --textdark: #25150C;
    --textdarker: #2F4E75;
    --font: "Fraunces",serif;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Fraunces",serif;
    color: var(--textdarker);
}

h1 {
    font-size: 10em;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 3em;
    font-weight: 400;
    line-height: 0;
}

h4 {
    font-size: 2em;
    font-weight: 300;
    line-height: 0;
}

p {
    font-size: 1.5em;
}

.icon{
    display: flex;
    justify-content: center;
    width: 6vw;
    height: 6vh;
}

svg{
    fill: var(--textdark);
}

.remove-scrolling { 
    height: 100%; 
    overflow-y: hidden; 
} 

header {

}


#main-header{
    width: 100%;
    height: 8vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background: var(--primary);
    color: var(--textdark);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 990;
}

header img{
    width: 6vh;
    height: 4vh;
    padding: 10px;
}

#mobile-header{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    padding: 10px;
    vertical-align: center;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a{
    font-family: var(--font);
    color: var(--textdark);
    font-size: large;
}

.navbar a{
    position: relative;
    color: var(--textdark);
    text-decoration: none;
    padding: 10px;
    background-color: #ffe3d0b4;
    border: solid 2px #ffe3d0b4;
    border-radius: 10px;
}
.navbar a:before, 
.navbar a:after {
    display: block;
    position: absolute;
    width: 0;
    height: 10px;
    background-color: var(--textdarker);
    content:"";
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height:2px;
}
.navbar a:before {
    left: 0;
    top: -10px;
}
.navbar a:after {
    right: 0;
    bottom: -10px;
}
.navbar a:hover {
    color: var(--textdarker);
}
.navbar a:hover:after, 
.navbar a:hover:before {
    width: 100%;
    height:2px;
}

.navbar-socials {
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
}

.navbar-socials .icon{
    width: 2vw;
}


body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hero-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

#hero img{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    animation: 3s ease-out 0s 1 signatureGrow;
}

#hero-text{
    display: block;
    position: relative;
    top: -50vh;
    left: -25vw;
}

#hero-main-div{
    top: 25vh;
    left: 25vw;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero h1{
    text-align: center;
    transform-origin: center;
    animation: 1.5s ease-in-out 0s 1 grow;
}

@keyframes grow {
    0% {
      font-weight: 300;
    }
    100% {
      font-weight: 600;
    }
}

@keyframes signatureGrow{
    0%{
        transform:
            scaleX(0.9)
            scaleY(0.7)
    }
    100%{
        transform:
            scaleX(1)
            scaleY(1)
    }
}

.filter{
    width: 100vw;
    height: 500vh;
    filter: url(#noiseFilter);
    opacity: 0.3;
    position: relative;
    top: -300vh;
    left: 0;
  }


#about-div{
    background: var(--white);
    background: -moz-linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, var(--white) 100%);
    display: inline-flex;
    align-items: center;
}

#about-div img{
    width: 25vw;
    border-radius: 25px;
    margin: 5% 20px 8% 10%
}

.about-text{
    margin: 5% 10% 8% 20px;
}

.about-text h2{
    margin: 0;
}

#contact-div{
    padding-top: 3vh;
    background-color: var(--primary);
    background: -moz-linear-gradient(0deg, var(--primary) 0%, var(--primary) 90%, var(--white) 100%);
    background: -webkit-linear-gradient(0deg, var(--primary) 0%, var(--primary) 90%, var(--white) 100%);
    background: linear-gradient(0deg, var(--primary) 0%, var(--primary) 90%, var(--white) 100%);
}

#contact-div h2{
    padding-top: 0;
    margin-top: 0;
}

footer{
    text-align: center;
    overflow: hidden;
}

#bg-change{
    background-color: var(--white);
}

#reel-div h2{
    padding-top: 0;
    margin-top: 0;
}

.reel-container{
    margin: 1vh 10vw;
    padding: 2vh;
    background-color: #ffe3d0b4;
    border-radius: 10px;
    text-align: center;
}

#discography-div h2 {
    color: var(--textdark);
}

#discography-div p{
    color: var(--textdark); 
}

#discography-div{
    padding-bottom: 5vh; 
}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 20vw;
}
