@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root{
    --primary: #FFF2DB;
    --textdark: #25150C;
    --textdarker: #2F4E75;
    --font: "Fraunces",serif;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
   
}

h1, h2, h3, h4, h5, h6, p{
    font-family: "Fraunces",serif;
    color: var(--textdarker);
}

h1{
    font-weight: 600;
    font-size: 10em;
    color: #fff;
}

h2{
    font-weight: 400;
    font-size: 5em;
    text-align: center;
}

h3{
    font-weight: 400;
    font-size: 3em;
    line-height: 0;
}

h4{
    font-weight: 300;
    font-size: 2em;
    line-height: 0;
}

p{
    font-size: 1.5em;
}

header{
    background: var(--primary);
    
    color: var(--textdark);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    align-items: center;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    z-index: 1000;
}

header img{
    padding: 10px;
    width: 6vh;
    height: 4vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar li{
    vertical-align: center;
    padding: 10px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a{
    font-family: var(--font);
    color: var(--textdark);
    font-size: large;
}

.fa{
    color: var(--textdark);
    text-decoration: none;
    padding: 10px;

}

body{
    margin: 0;
    padding: 0;
}

#main{

    
}

#hero{
    background-image: url(./hero-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    
}

#hero img{
    display: block;
    position: relative;
    top: 0;
    left: 0;
    animation: 3s ease-out 0s 1 signatureGrow;
    
}

#hero-text{
    display: block;
    position: relative;
    top: -50vh;
    left: -25vw;
}

#hero-main-div{
    position: relative;
    top: 25%;
    left: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero h1{
    text-align: center;
    transform-origin: center;
    animation: 1.5s ease-in-out 0s 1 grow;

}

@keyframes grow {
    0% {
      font-weight: 300;
    }
    100% {
      font-weight: 600;
    }
  }

@keyframes signatureGrow{
    0%{
        transform:
            scaleX(0.9)
            scaleY(0.7)
    }
    100%{
        transform:
            scaleX(1)
            scaleY(1)
    }
}

.filter{
    filter: url(#noiseFilter);
    opacity: 0.3;
    position: relative;
    width: 100%;
    height: 100%;
    top: -100vh;
    left: 0;
  }

#about-div{
    background: var(--primary);
    background: -moz-linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, var(--primary) 0%, var(--primary) 90%, rgba(0,0,0,0) 100%);

    display: inline-flex;
    align-items: center;
}

#about-div img{
    width: 500px;
    border-radius: 25px;
    margin: 5% 20px 8% 10%
}

.about-text{
    margin: 5% 10% 8% 20px

}


footer{
    text-align: center;
    overflow: hidden;
}

#discography-div h2 {
    color: var(--textdark);
}

#discography-div p{
    color: var(--textdark); 
}


#discography-div{
    
}

#discography-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
    grid-column-gap: 25vw;
    grid-row-gap: 15vh;
    align-items: center;
    justify-content: center;
}
.album-container{
    display: block;
    height: 400px; 
}
.album-container:hover{
    .vinyl-record img{
        translate: 200px;
        animation: spin 2s infinite linear;
    }
}

.vinyl-record{
    position: relative;
    top: 0;
    left: 0;
}
.vinyl-record img{
    transition: 0.3s ease-in-out;
    width: 380px;
}
/* TODO: moz, webkit, etc for animations */
@keyframes spin { 
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}

.album-cover{
    position: relative;
    top: -400px;
    left: 0;
}
.album-cover img{
    width: 400px;
    border-radius: 5px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.25);
}

#album-showcase-container{
    margin-top: 100px;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background-color: var(--primary);
}

.album-showcase-top{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
}

.album-showcase-media{
    display: inline;
    height: 300px; 
}

.album-showcase-cover:hover{
    .vinyl-record img{
        translate: 150px;
        animation: spin 2s infinite linear;
    }
}
.album-showcase-text{

}

.album-showcase-scrollable{
    height: 300px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
  
}

.album-showcase-bottom{
    text-align: center;
}


/*

.featured-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 20%));
    grid-gap: 0;
}

.featured-card{
    width:min-content;
    display:grid;
    border: 2px solid;
    padding: 10px;
    justify-content: center;
    width: 20vw;
    overflow: hidden;
}

.featured-image{
    max-width: 15vw;
    max-height: 30vh;
    transition: all 0.2s ease-out;
}

.featured-caption{
    text-align: center;
}

.featured-blurb-container{
    position: absolute;
    z-index: 20;
}

.featured-blurb{
    visibility: hidden;
    position: fixed;
    width: 80%;
    height: 50vh;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: 60% 40%; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.featured-blurb-showcase{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 6px solid gray;

}

.featured-blurb-text{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border: 6px solid gray;
}

.featured-blurb-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.featured-blurb-header button{
    margin-right: 0 auto;
    padding: 10px;
    font-size: 2em;
    vertical-align: center;
    color: white;
    background: none;
    border: none;
}
*/