
html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}



header{
    background-color: black;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 
}

header img{
    width: 6vh;
    height: 4vh;
}

.navbar li{
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a{
    color: white;
}

#main{
    margin-top: 9vh;
}

#about{
    margin: 100px;
    display: inline-flex;
    align-items: center;
}

#about img{
    width: 500px;
    margin: 100px;
}

.about-text{
    margin: 100px;
}

footer{
    text-align: center;
}

.featured-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 20vw));
    grid-gap: 5vw;
}

featured-card{
    width:min-content;
    display:grid;
    border: 2px solid;
    padding: 10px;
    justify-content: center;
}

.featured-image{
    max-width: 20vw;
}

.featured-caption{
    text-align: center;
}

.featured-blurb-container{
    position: absolute;
}

.featured-blurb{
    visibility: hidden;
    position: fixed;
    width: 80%;
    height: 50vh;
    top: 10%;
    left: 10%;
    display: grid;
    grid-template-columns: 60% 40%; 
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.featured-blurb-showcase{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 6px solid gray;

}

.featured-blurb-text{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border: 6px solid gray;
}

.featured-blurb-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.featured-blurb-header button{
    margin-right: 0 auto;
    padding: 10px;
    font-size: 2em;
    vertical-align: center;
    color: white;
    background: none;
    border: none;
    
}